.loginContainer{
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: rgb(59, 102, 9);
    display: flex;
    align-items: center;
    font-weight: 70px;

}

.loginBtn{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(39, 157, 235);

}


.failure{
    color: red;
    font-style: 12px;
    text-align: center; 
    
}

.loginCancel{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

}